[Unit]
Description=Gopstats (Go Stats Milter)

[Service]
Type=notify
ExecStart=/root/gopstats -port=9929 -db-path=/root/gopstats.sqlite3
WatchdogSec=30s
Restart=on-failure

[Install]
WantedBy=multi-user.target
