[Unit]
Description=Gopstats (Go Stats Milter)

[Service]
Type=simple
ExecStart=/root/gopstats -port=9929 -db-path=/root/gopstats.sqlite3
Restart=always

[Install]
WantedBy=multi-user.target
